<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">PythonsWiki</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if page_name == 'home' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="{% url 'create' %}">Add new Python</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'create' %}">Add new Python</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <span class="navbar-text">Hello, <a href="{% url 'profile' %}">{{ request.user }}</a></span>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>

</nav>